// Imports
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,800&display=swap');

// Variables

$mainFont: 'Nunito Sans', sans-serif;
$lightBg: #FAFAFA;
$lighSec: #FFFFFF;
$lightText: #111517;
$darkBG: #202C36;
$darkSec: #2B3844;
$darkText: #FFFFFF;

//  Normalize

* {
    box-sizing: border-box;

    &::after,
    ::before {
        box-sizing: border-box;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 20px;
}

@for $i from 1 through 6 {
    h#{$i} {
        margin-top: 0;
        margin-bottom: 0;
    }
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

// Generals

.wrapper {
    max-width: 1440px;
    margin-inline: auto;
}

body {
    background-color: $lightBg;
    color: $lightText;
    font-family: $mainFont;

    &.dark {
        background-color: $darkBG;
        color: $darkText;
    }
}

.main-header {
    background-color: $lighSec;
    font-size: Min(16px, Max(12px, calc(16/1440*100vw)));
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
    padding-block: calc(24/16*1em);
    padding-inline: calc(80/16*1em);
    @media (max-width:550px) {
        padding-inline: 16px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.dark {
        background-color: $darkSec;
    }

    h1 {
        font-size: Min(24px, Max(14px, calc(24/1440*100vw)));
        font-weight: 800;
    }

    button {
        font-weight: 600;
        background-color: transparent;
        border: 0;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        color: $lightText;

        &.dark {
            background-color: $darkSec;
            color: $darkText;

            svg {
                path {
                    stroke: $darkText
                }
            }
        }
    }
}

.flag-container {
    font-size: Min(16px, Max(12px, calc(16/1440*100vw)));
    padding-block: calc(48/16*1em);
    padding-inline: calc(80/16*1em);
    @media (max-width:550px) {
        padding-inline: 16px;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: calc(48/16*1em);
        @media (max-width:768px) {
            flex-direction: column;
            align-items: unset;
            gap: 16px;
        }

        input {
            max-width: calc(480/16*1em);
            width: 100%;
            height: 48px;
            box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
            background: url("../images/search.svg") no-repeat scroll 14px 14px;
            padding-left: 48px;
            border: 0;
            background-color: $lighSec;
            color: $lightText;

            &::placeholder {
                color: $lightText;
            }

            &.dark {
                color: $darkText;

                &::placeholder {
                    color: $darkText;
                }

                background: $darkSec url("../images/search-white.svg") no-repeat scroll 14px 14px;
            }
        }

        select {
            color: $lightText;
            width: 200px;
            height: 48px;
            border: 0;
            box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
            padding-inline: 24px;
            appearance: none;
            background-image: url("../images/arrow.svg");
            background-repeat: no-repeat;
            background-position: right 1rem center;
            background-size: 1em;

            &.dark {
                background-color: $darkSec;
                color: $darkText;
                background-image: url("../images/arrow-white.svg");
            }
        }

        option {
            background-color: $lighSec;
            color: $lightText;

            &.dark {
                background-color: $darkSec;
                color: $darkText;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @media (max-width:1280px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width:991px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width:550px) {
            grid-template-columns: 1fr;
        }
        gap: 48px;

        &__card {
            background-color: $lighSec;

            &.dark {
                background-color: $darkSec;
            }

            box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);

            article {
                cursor: pointer;
                img {
                    height: 200px;
                    margin-inline: auto;
                    object-fit: cover;
                    display: block;
                    margin-bottom: calc(24/16*1em);
                }

                .content {
                    padding-left: calc(24/16*1em);
                    padding-block: calc(24/16*1em) calc(48/16*1em);

                    h3 {
                        font-size: 18px;
                        font-weight: 800;
                        margin-bottom: 16px;
                    }

                    p {
                        padding-bottom: 8px;
                        font-size: 14px;
                        font-weight: 600;

                        span {
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }

    &__details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width:991px) {
            grid-template-columns: 1fr;
        }
        gap: calc(120/16*1em);

        img {
            border-radius: 6px;
        }

        &__info {
            h2 {
                font-size: Min(32px, Max(22px, calc(32/1440*100vw)));
                margin-bottom: calc(24/32*1em)
            }
            &__inner {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, 1fr);
                gap: 16px;
                &__first-col {
                    grid-column: 1;
                    grid-row: 1 / span 5;
                }
                &__second-col {
                    grid-column: 2;
                    grid-row: 1 / span 3;
                }
                p {
                    font-size: Min(16px, Max(14px, calc(16/1440*100vw)));
                    font-weight: 600;

                    span {
                        font-weight: 300;
                    }
                }
            }
        }
    }
    #backButton {
        display: flex;
        align-items: center;
        border: 0;
        gap: 8px;
        padding: 8px 16px;
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
        border-radius: 6px;
        background: $lighSec;
        color: $lightText;
        cursor: pointer;
        &.dark {
            background: $darkSec;
            color: $darkText;
            svg {
                path {
                    fill: $darkText;
                }
            }
        }
    }
    #map {
        margin-top: calc(64/16*1em);
        border: 2px solid $darkSec;
        border-radius: 6px;
        &.dark {
            border: 2px solid $lighSec;
        }
    }
}